@page
@model MediaBazaar_WebApp.Pages.PersonalDataModel
@{
	ViewData["Title"] = "PersonalData";
}

<link rel="stylesheet" href="~/css/personaldata.css" asp-append-version="true" />

<div class="container custom-size" >
	<div class="row">
		<div class="col personal-data">
			<p>Name: @Model.employee.EmployeeInfo</p>
			<p>Email: @Model.employee.email</p>
			<p>Phone Number: @Model.employee.phoneNumber</p>
			<p>Date of Birth: @Model.employee.dateOfBirth</p>
			<p>Address: @Model.employee.EmployeeAddress</p>
			<p>Emergency Contact: @Model.employee.emergencyPhoneNumber</p>
		</div>
		<div class="w-100"></div>
		<div class="col contract-data">
			@if(Model.contract.contractType != "Temporary")
			{
				<p>Contract Dates: @Model.contract.startDate.ToString("dd MMMM yyyy")</p>
			}
			else
			{
				<p>Contract Dates: @Model.contract.startDate - @Model.contract.endDate</p>
			}
			
			<p>Contract Hours: @Model.contract.workHours</p>
			<p>Position: @Model.contract.position</p>
		</div>
	</div>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-2 button-container">
			<a asp-page="/EditPersonaldata">
				<button class="button-sendrequest">
					Change Info
				</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="customCheckBoxHolder">
			<input type="checkbox" id="cCB1" class="customCheckBoxInput">
			<label for="cCB1" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Monday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB2" class="customCheckBoxInput">
			<label for="cCB2" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Tuesday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB3" class="customCheckBoxInput">
			<label for="cCB3" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Wednesday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB4" class="customCheckBoxInput">
			<label for="cCB4" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Thursday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB5" class="customCheckBoxInput">
			<label for="cCB5" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Friday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB6" class="customCheckBoxInput">
			<label for="cCB6" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Saturday</div>
				</div>
			</label>
			<input type="checkbox" id="cCB7" class="customCheckBoxInput">
			<label for="cCB7" class="customCheckBoxWrapper">
				<div class="customCheckBox">
					<div class="inner">Sunday</div>
				</div>
			</label>
		</div>
	</div>	 
</div>